<mat-card>
  <mat-card-title>Veículo</mat-card-title>
  <form (ngSubmit)="onSalvar(f)" #f="ngForm" class="form-form" (keydown.enter)="$event.preventDefault()">
    <mat-card-actions>
      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxFlex="100%">
          <div fxFlex="100%">
            <button mat-raised-button color="accent" type="button" (click)="onLimpar()">Novo</button>

            <button mat-raised-button *ngIf="consultar" color="primary" type="button" (click)="onEditar()">Editar</button>
            <button mat-raised-button *ngIf="editar || novo" color="warn" type="submit">Salvar</button>
          </div>
        </div>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayoutAlign="start start">
        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput
                   name="placa"
                   id="placa"
                   #placa
                   required
                   [(ngModel)]="veiculo.placa"
                   #veiculoplaca="ngModel"
                   placeholder="Placa"
                   minlength="8"
                   maxlength="8"
                   (blur)="onConsultar()"
                   value="">
            <mat-error *ngIf="veiculoplaca.hasError('required')">
              Necessário informar a placa
            </mat-error>
            <mat-error *ngIf="veiculoplaca.hasError('pattern')">
              Padrão é AAA-0000
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="60%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input type="text"
                   placeholder="Veículo"
                   aria-label="Veículo"
                   matInput
                   name="carro"
                   id="carro"
                   [(ngModel)]="veiculo.carro"
                   #veiculocarro
                   [formControl]="veiculoControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete"
                              [displayWith]="displayVeiculo">
              <mat-option (onSelectionChange)="selectVeiculo($event,tVeiculo)"
                          *ngFor="let tVeiculo of filteredVeiculos | async"
                          [value]="tVeiculo">
                {{ tVeiculo.descricaocompleta }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="cor" id="cor" [(ngModel)]="veiculo.cor" placeholder="Cor" value="">
          </mat-form-field>
        </div>

        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <mat-select (valueChange)="marcaValueChange($event)" placeholder="Marca" [(ngModel)]="veiculo.marca" #veiculomarca="ngModel"
            name="marca"
            >
              <mat-option  *ngFor="let marca of marcas" [value]="marca.idfipe">
                {{marca.marca}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="veiculomarca.hasError('required')">
              Necessário informar a marca.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="49%" fxFlexFill>
          <mat-form-field class="form-full-width">

            <input type="text"
                   placeholder="Modelo"
                   value=150
                   aria-label="Modelo"
                   matInput
                   name="modelo"
                   id="modelo"
                   [formControl]="modeloControl"
                   [(ngModel)]="veiculo.modelo"
                   #veiculomodelo
                   [matAutocomplete]="modelo">
            <mat-autocomplete #modelo="matAutocomplete"
                              [displayWith]="displayModeloVeiculo">
              <mat-option
                          *ngFor="let tModelo of filteredModelo | async"
                          [value]="tModelo">
                {{ tModelo.modelo }}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </div>
        <div fxFlex="15%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="anomod" id="anomod" [(ngModel)]="veiculo.anomod" type="number" placeholder="Ano Mod." value="">
          </mat-form-field>
        </div>
        <div fxFlex="15%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="anofab" id="anofab" [(ngModel)]="veiculo.anofab" type="number" placeholder="Ano Fab." value="">
          </mat-form-field>
        </div>

        <div fxFlex="40%" fxFlexFill>
            <mat-form-field class="form-full-width">
              <mat-select placeholder="Acessórios" [(ngModel)]="veiculo.acessorios" name="acessorio" #veiculoacessorio="ngModel" multiple>
                <mat-option *ngFor="let acessorio of acessorios" [value]="acessorio">{{acessorio}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="15%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="kmmedio" id="kmmedio" [(ngModel)]="veiculo.kmmedio" placeholder="KM Média" value="">
          </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="renavam" id="renavam" [(ngModel)]="veiculo.renavam" placeholder="Renavam" value="">
          </mat-form-field>
        </div>

        <div fxFlex="25%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="chassi" id="chassi" [(ngModel)]="veiculo.chassi" placeholder="Chassi" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
