<mat-card>
  <mat-card-title>Veículo</mat-card-title>
  <form (ngSubmit)="onSalvar(f)" #f="ngForm" class="form-form" (keydown.enter)="$event.preventDefault()">
    <mat-card-actions>
      <div fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxFlex="100%">
          <div fxFlex="100%">
            <button mat-raised-button color="accent" type="button" (click)="onLimpar()">Novo</button>

            <button mat-raised-button *ngIf="consultar" color="primary" type="button" (click)="onEditar()">Editar</button>
            <button mat-raised-button *ngIf="editar || novo" color="warn" type="submit">{{editar ? 'Alterar' : 'Salvar'}}</button>
          </div>
        </div>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayoutAlign="start start">
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="placa" id="placa" #placa required [(ngModel)]="veiculo.placa" #veiculoplaca="ngModel" placeholder="Placa"
              minlength="8" maxlength="8" value="">
            <button mat-button type="button" matSuffix mat-icon-button aria-label="Consultar" (click)="onConsultar()">
              <mat-icon>search</mat-icon>
            </button>
            <mat-hint align="end">Informe a placa e clique na lupa</mat-hint>
            <mat-error *ngIf="veiculoplaca.hasError('required')">
              Necessário informar a placa
            </mat-error>
            <mat-error *ngIf="veiculoplaca.hasError('pattern')">
              Padrão é AAA-0000
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input type="text" placeholder="Veículo" aria-label="Veículo" matInput name="carro" id="carro" [(ngModel)]="veiculo.carro"
              (ngModelChange)="dataChanged($event)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
              (onSelectionChange)="selected($event)"
              *ngFor="let tVeiculo of filteredVeiculos" [value]="tVeiculo">
                {{ tVeiculo.descricaocompleta }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="anofab" id="anofab" [(ngModel)]="veiculo.anofab" type="number" placeholder="Ano Fab." value="">
          </mat-form-field>
        </div>
        <div fxFlex="20%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="anomod" id="anomod" [(ngModel)]="veiculo.anomod" type="number" placeholder="Ano Mod." value="">
          </mat-form-field>
        </div>

        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
              <mat-select placeholder="Marca" [(ngModel)]="veiculo.marca" name="marca">
                  <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                    {{marca.descricao}}
                  </mat-option>
                </mat-select>
            <mat-error *ngIf="veiculomarca.hasError('required')">
              Necessário informar a marca.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="modelo" id="modelo" [(ngModel)]="veiculo.modelo" #veiculomodelo="ngModel" required placeholder="Modelo"
              value="">
            <mat-error *ngIf="veiculomodelo.hasError('required')">
              Necessário informar a modelo.
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="40%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="versao" id="versao" [(ngModel)]="veiculo.versao" #veiculoversao="ngModel" required placeholder="Versão"
              value="">
            <mat-error *ngIf="veiculoversao.hasError('required')">
              Necessário informar a versao.
            </mat-error>

          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="kmmedio" id="kmmedio" [(ngModel)]="veiculo.kmmedio" placeholder="KM Média" value="">
          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="renavam" id="renavam" [(ngModel)]="veiculo.renavam" placeholder="Renavam" value="">
          </mat-form-field>
        </div>
        <div fxFlex="40%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="chassi" id="chassi" [(ngModel)]="veiculo.chassi" placeholder="Chassi" value="">
          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="cor" id="cor" [(ngModel)]="veiculo.cor" placeholder="Cor" value="">
          </mat-form-field>
        </div>
        <div fxFlex="30%" fxFlexFill>
          <mat-form-field class="form-full-width">
            <input matInput name="acessorios" id="acessorios" [(ngModel)]="veiculo.acessorios" placeholder="Acessórios" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
